pipeline/Rest API Call Taxpod.json
{
	"name": "Rest API Call Taxpod",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://tax.foxraving.com/api/auth/signin",
					"body": {
						"email": "admin@yopmail.com",
						"password": "123456"
					}
				}
			},
			{
				"name": "Web2",
				"description": "Can be deleted just added for Checking API Connection",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "@activity('Web1').output.jwt",
							"type": "Expression"
						}
					},
					"url": "https://tax.foxraving.com/api/questions/getQuestion?removeIsSpouse=-1"
				}
			},
			{
				"name": "Copy data1",
				"description": "Rest Data Set for Sink",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Web2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@activity('Web1').output.jwt",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "RestApiJson",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "JsonTaxpodQuestions",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-11-20T12:15:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}